.navBar{
    border-bottom: gold 2px solid;
    color: whitesmoke;
}

.navbar-brand{
    color: rgb(172, 27, 172);
}

.navbar-brand:hover{
    color: rgb(172, 27, 172);
    transition: 1s;
}

.nav-link{
    color: whitesmoke;
}

.nav-link:hover{
    color: gold;
    transition: 0.5s;
}